name: Create images

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    # every day
    - cron:  '0 2 * * *'

jobs:
  build:
    strategy:
      matrix:
        image:
        - debug
        - debian10
        - fedora37
        - fedora37-test
        - fedora38
        - fedora39
        - alma8
        - alma9
        - ubuntu2310
        - ubuntu2304
        - ubuntu22
        - ubuntu20
        - ubuntu18
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: registry.cern.ch
          username: robot-root-ci+github
          password: ${{ secrets.CR_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./${{ matrix.image }}/
          push: ${{ github.event_name != 'pull_request' }}
          tags: registry.cern.ch/root-ci/${{ matrix.image }}:buildready
          labels: org.opencontainers.image.source=https://github.com/${{ github.repository }}
          no-cache: ${{ github.event_name != 'push' && github.event_name != 'pull_request' }}
          cache-from: type=gha,scope=${{ matrix.image }}
          cache-to: type=gha,mode=max,scope=${{ matrix.image }}
