# This workflow creates docker images that are used for building ROOT in a Jenkins pipeline
# 
# All created images are uploaded to GitHub Container registry

name: Create images v2

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    # every day
    - cron:  '0 2 * * *'

jobs:
  build:
    strategy:
      matrix:
        image: ["fedora37", "centos8", "ubuntu22", "ubuntu20", "ubuntu18"]
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: registry.cern.ch
          username: robot-root-ci+github
          password: ${{ secrets.CR_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ./${{ matrix.image }}/
          push: true
          tags: registry.cern.ch/root-ci/${{ matrix.image }}:buildready
          labels: org.opencontainers.image.source=https://github.com/${{ github.repository }}
          no-cache: ${{ github.event_name != 'push' }}
          cache-from: type=gha,scope=${{ matrix.image }}
          cache-to: type=gha,mode=max,scope=${{ matrix.image }}
